*{
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.component{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-block-size: 100vh;
  margin: 0;
  padding: 0;
  background-color: #E9EEF3;

  .planContainer{
    display:flex;
    flex-flow: nowrap row;
    justify-content: space-between;
    gap: 24px;
    
    .planBox{
      display:flex;
      flex-flow: nowrap row;
      border: 2px solid var(--base-line);
      border-radius: 20px;
      background-color: var(--white);

      .clicker{
        inline-size: calc(278px - 33px);
        block-size: calc(338px - 40px);
        padding: 40px 33px;
        border: none;
        border-radius: 20px;
        background-color: var(--white);

        .planTitle{
          font-size: 16px;
          font-weight: 700;
          color: var(--bluegray);
        }

        .priceTitle{
          padding-block: 25px;
          font-size: 36px;
          font-weight: 700;
          color: var(--blueblack);
        }

        .planCaption{
          text-align: left;
        }

        .planCaption li{
          padding-block-end: 4px;
          font-size: 15px;
          font-weight: 400;
        }

        .planCaption li::before{
          content: url('../image/maker.svg');
          inline-size: 12px;
          block-size: 12px;
          padding-inline-end: 6px;  
        }
      }

      
    }

     .planBox:hover{
        border-color: var(--hover-line);
        transform: translateY(-10px);
        box-shadow: 0px 5px 5px #D2E0F9;
        transition: all 0.3s ease-out;
        cursor: pointer;
      }
  }

  
}
