:root{
  /* 공통 */
  --black : #000;
  --white: #fff;
  
  /* 은행어플 */
  --blue: #2b78ED;
  --active-color: #055fea;
  --deactivate-color : #939393;
  --deactivate-background: #727F8E;
  --green: #49B36E;
  --red: #D4392C;
  --menuTitle:  #404040;
  --listTitle: #6b8094;
  --sub: #8F9AA5;
  --border:1px solid #dedede;

  /* 플랜서비스 */
  --bluegray: #8B9DB1;
  --blueblack: #091520;
  --active-box: #E8EFFD;
  --hover-line: #BECCDB;
  --shodow-color : #C8D8F4;
  --planTitle : 16px;
  --priceTitle : 36px;
  --planList : 15px;
  --bold: 700;
}

/* 접근성 관련 CSS */
.sr-only {
  position: absolute;
  background: red;
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  margin: -1px;
  clip-path: inset(50%);
  padding: 0;
  border-width: 0;
}